extends layout

block content
  section#main-slider.no-margin
   div(class="carousel slide wet-asphalt")
    div(class="carousel-inner")
     div(class="item active", style="background-image: url(/images/slider/bg1.jpg)")
      div(class="container")
       div(class="row")
        div(class="col-sm-12")
         div(class="carousel-content centered")
          h2(class="animation animated-item-1") #{username} Esperando...
          div(class="row")
           aside(class="col-sm-4 col-sm-push-8")
            lu#question
           div(class="col-sm-8 col-sm-pull-4")
            h1 Sala #{objeto.titulo}
             div(class="panel panel-primary")
               div(class="col-md-8")
                div(class="panel panel-info")
                 div(class="panel-heading ")
                  RECENT SALA DE CHAT ESPERA
                 div(id="mensajes",class="panel-body bg-primary")
                 div(class="panel-info")
                 input(type="text", class="form-control", placeholder="Escribir mensaje", id="mensaje")
                 input(type="hidden", id="nickname", value="#{username}")
                 input(type="hidden", id="numpre", value="#{objeto.pregunta}")
                 input(type="hidden", id="titulo", value="#{objeto.titulo}")
                p
                 if(btn=="button")
                 a(id="star", href="#", class="btn btn-primary btn-lg active", role="button") Empezar
              div(class="col-md-4")
               div(class="panel panel-info")
                div(class="panel-heading")
                  <h5 class="bg-primary">USUARIO EN SALA</h5>
                div(class="panel-body bg-primary")
                 ul(id="UserL", class="media-list")
  